* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    background:#000006;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1200px-NGC_4414_%28NASA-med%29.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/*Container -- App*/ 
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
   
}
/*Header*/
.header {
    margin: 30px 0;
    text-align: center;
    color: rgba(230, 184, 166, 0.85);
    font-size: 20px;
}
/*Todo new*/
.todo-new {
    display: flex;
}
.todo-new input,
.todo-new button {
    height: 35px;
    border: 0;
}
.todo-new input {
    flex-grow: 1;
    margin-right: 20px;
    border-bottom: 1px solid rgb(100, 47, 47);
    background-color: #bba19d;
    transition: border .4s;
}
.todo-new input:hover,
.todo-new input:focus {
    border-color: #000;
}
.todo-new button {
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background:#8e665f;
    cursor: pointer;
    border-radius: 10px;
    transition: background .4s;
}
.todo-new button:hover,
.todo-new button:focus {
    background: #ce442b;
}
/*ToDo list*/
.container-todos {
    margin: 40px 0;
    padding: 15px 30px;
    background: rgba(230, 184, 166, 0.85);
}
.todo {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom:  1px solid grey;
}
/*Completed*/
/*A*/
.todo .text.completed {
    text-decoration: line-through;
}

.todo .text {
    position: relative;
    padding: 0 30px;
}
.todo i {
    padding: 10px;
}

/*Edit modal*/
.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(2,2,2,0.7);
}
.edit-modal .content {
    width: 400px;
    padding: 50px;
    background: white;
}
.content h3 {
    margin-bottom: 20px;
}
.content input {
    padding: 5px;
    margin-bottom: 20px;
    background:#8e665f;
    cursor: pointer;
}
.btn button {
    padding: 5px;
    background:#8e665f;
    cursor: pointer;
}
