<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List Vue</title>
    <!--style-->
    <link rel="stylesheet" href="./css/style.css">
    <!--icone-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>

    
    
   <div id="app" class="container">
       <header class="header"> 
          <h1>ToDo List</h1>
       </header>
       
        <section class="todo-new">
           <input type="text"
           placeholder="Nuovo elemento da mettere"
           v-model.trim="newTodo"
           @keyup.enter="addTodo"
           ref="todoInput"  
           />

           <button @click="addTodo">Aggiungi</button>

        </section>

        <section class="container-todos">
            <!--rimane nel ul cosi se c'è contenuto , o se no v nel h2-->
            <ul v-if="todos.length > 0">  <!--index = indice-->
                <li class="todo" v-for="(todo, index) in todos">
                    <span class="text"
                          :class="{completed: todo.completed}"
                          @click="updateStatus(index)"
                    >

                    {{ todo.text }}

                    </span>

                    <i class="fas fa-times"
                       @click="removeTodo(index)"
                    ></i>

                </li>
            </ul>
            <h2 v-else >Non ci sono elementi</h2>
     
        </section>
       
   </div>


    <!--JS-->
    <script src="./js/script.js"></script>
    
</body>
</html>